.aboutmecontainer {
    height: 192vh;
    width: 100%;
}

.aboutme {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutmelogocontainer {
    height: 100%;
    width: 50%;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.aboutmelogo {
    width: 80%;
    border-radius: 10%;
}

.aboutmetextcontainer {
    height: 192vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.aboutmetext {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutmename {
    color: var(--text);
    font-size: 15vh;
    margin-bottom: 0;
    width: 80%;
}

.aboutmedescription {
    color: var(--text);
    font-size: 5vh;
    width: 80%;
    max-height: 100%;
    padding-top: 2%;
}

.downarrowcontainer {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100vh);
}

.downarrow {
    height: 100%;
    width: auto;
    fill: var(--text);
}

@media screen and (max-width: 500px) {

    .aboutme {
        flex-direction: column;
    }

    .aboutmecontainer {
        height: auto;
    }

    .aboutmelogocontainer {
        height: auto;
        margin-top: 10vh;
        overflow: visible;
    }

    .aboutmetextcontainer {
        width: 100%;
        height: 100%;
    }

    .aboutmetext {
        width: 100%;
    }

    .aboutmedescription:nth-child(1) {
        height: auto;
        font-size: 2vh;
    }

    .aboutmename {
        text-align: center;
        font-size: 15vw;
    }

    .downarrowcontainer {
        display: none;
    }
}