.projects {
    width: 90vw;
    min-height: 92vh;
    margin: auto;
    padding-top: 4vh;
}

.project {
    background-color: var(--background2);
    border-radius: 10px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-bottom: 2px;
    text-decoration: none;
    margin-bottom: 10px;
}

.imgtitle {
    width: 95%;
    position: relative;
}

.imgtitle img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    border-radius: 10px;
}

.imgtitle h1 {
    position: absolute;
    width: 100%;
    color: var(--text);
    margin-bottom: 2px;
    bottom: 0;
    left: 2%;
}

.projectdescription {
    width: 95%;
}

.noitem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;
}

.noproject {
    color: var(--text);
    font-size: 5rem;
}

@media screen and (min-width: 567px) {
    .projects {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
        align-items: center;
    }

    .project {
        max-width: 40vw;
        transition: all 0.2s ease-in-out;
    }

    .project:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 566px) {
    .projects {
        width: 100vw;
        min-height: 92vh;
        margin: 0 auto;
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 2%;
        padding: 0;
    }

    .project {
        width: 90vw;
        flex-shrink: 0;
        scroll-snap-align: start;
        margin: auto 5vw;
    }
}