<div class="aboutmecontainer">
    <div class="aboutme{{'full' if not homepage}}">
        <div class="aboutmelogocontainer">
            <img src="{{config['UPLOAD_FOLDER']}}logo.png" alt="logo" class="aboutmelogo">
        </div>
        <div class="aboutmetext">
            {% if homepage %}
            <h1 class="aboutmename">Hi, I'm Joel</h1>
            <p class="aboutmedescription">A computer science student at the University of Warwick</p>
            {% else %}
            <p class="aboutmedescription">Hi, I'm Joel, a Computer Science student at the University of Warwick. My
                passion
                for computer science started in 2015 with my first proper computer science lessons at secondary school.
                As a
                tech officer at <a href="https://uwcs.co.uk" class="aboutmelink">UWCS</a>, I help maintain various
                projects
                such as servers, discord bots, and websites (such as this one).</p>
            {% endif %}
        </div>
    </div>
    {% if homepage %}
    <div class="downarrowcontainer">
        <svg class="downarrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <path
                d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-108.49a12,12,0,0,1,0,17l-40,40a12,12,0,0,1-17,0l-40-40a12,12,0,0,1,17-17L128,135l31.51-31.52A12,12,0,0,1,176.49,103.51Z">
            </path>
        </svg>
    </div>
    {% endif %}
</div>