<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:title" content="{{self.title()}}">
    <link rel="icon" href="{{config['UPLOAD_FOLDER']}}logo.png" type="image/icon type">
    <meta name="keywords" content="Joel, Coulon, Joel Coulon, Programming, University of Warwick">
    <meta name="description" content="{% block description %}{% endblock%}">
    <meta property="og:description" content="{{self.description()}}">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    {% block head %}{% endblock %}
    <meta property="og:type" content="{{ 'article' if 'projects' in request.url else 'website' }}" />
    <meta property="og:locale" content="en_GB">
    <link rel="canonical" href="https://joelcoulon.com{{request.path}}">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo"><img src="{{config['UPLOAD_FOLDER']}}logo.png" alt="logo"></a>
        <ul class="navlinksleft">
            <li class="navlink"><a href="/#aboutme">About Me</a></li>
            <li class="navlink"><a href="/#projects">Projects</a></li>
        </ul>
        <ul class="navlinksright">
            <li class="navlink">
                <a href="https://github.com/Mole1424">
                    <svg xmlns="http://www.w3.org/2000/svg" class="navsvg" fill="#fff" viewBox="0 0 256 256">
                        <path
                            d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z" />
                    </svg>
                </a>
            </li>
            <li class="navlink" id="lastnavlink">
                <a href="mailto: joel@joelcoulon.com">
                    <svg xmlns="http://www.w3.org/2000/svg" class="navsvg" fill="#fff" viewBox="0 0 256 256">
                        <path
                            d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>