{% extends "base.html" %}
{% block title %} {{ project.title }} {% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/projectpage.css">
{% endblock %}
{% block content %}
<article class="projectarticle">
    <div class="imgtitle">
        <img src="{{ project.image }}" alt="{{ project.title }}">
        <div class="description">
            <h1>{{ project.title }}</h1>
            <p">{{ project.description }}</p>
        </div>
    </div>
    <div class="fullblog">
        {{markdown_html|safe}}
    </div>
</article>
{% endblock %}