<div class="projects">
    <div class="projectsintro">
        <h2>Projects</h2>
        <p class="projectsdescription">
            Here are some of the projects I've worked on. Click on a project to learn more about it.
        </p>
        <p>
            I also have a list of <a href="/projects/smallprojects">smaller projects</a> which I think are cool
            but aren't big enough to have their own full blog.
        </p>
    </div>
    <div class="projectcards">
        {% for project in projects %}
        <a href="/projects/{{project.id}}" class="project">
            <div class="imgtitle">
                <div class="backgroundcontainer">
                    <img class="background"
                        src="{{config['UPLOAD_FOLDER'] if not project.image.startswith('https://')}}{{ project.image }}"
                        alt="{{ project.title }} background">
                </div>
                <div class="foregroundcontainer">
                    <img class="foreground"
                        src="{{config['UPLOAD_FOLDER'] if not project.image.startswith('https://')}}{{ project.image }}"
                        alt="{{ project.title }} foreground">
                </div>
                <div class="overlay">
                    <h1>{{ project.title }}</h1>
                </div>
            </div>
            <p class="projectdescription">{{ project.description }}</p>
        </a>
        {% else %}
        <div class="noitem">
            <p class="noproject">No projects found, please check back soon™</p>
        </div>
        {% endfor %}
    </div>
</div>