<div class="projects">
    {% for project in projects %}
    <a href="/projects/{{project.id}}" class="project">
        <div class="imgtitle">
            <div class="backgroundcontainer">
                <img class="background" src="{{ project.image }}" alt="{{ project.title }}">
            </div>
            <div class="foregroundcontainer">
                <img class="foreground" src="{{ project.image }}" alt="{{ project.title }}">
            </div>
            <div class="overlay">
                <h1>{{ project.title }}</h1>
            </div>
        </div>
        <p class="projectdescription">{{ project.description }}</p>
    </a>
    {% else %}
    <div class="noitem">
        <p class="noproject">No projects found, please check back soon™</p>
    </div>
    {% endfor %}
</div>